<div class="container d-flex justify-content-center mb-5">
    <div
        class="loginContainer col-12 col-sm-9 col-md-6 col-lg-4 border rounded mt-5 d-flex justify-content-center flex-wrap">

        <div class="col-12 d-flex justify-content-center mb-5">
            <img src="../../../assets/logo.png" alt="Great Warrior" class="row col-6">
        </div>
        <h3 class="mb-5">Login</h3>
        <form class="col-12 d-flex justify-content-center flex-wrap">
            <fieldset class="form-group col-12 mb-3">
                <input [value]="email$ | async" (input)="sendEmail($event)" type="email" class="col-12 form-control"
                    id="email" title="Email address" placeholder="Email address" autocomplete="off">
                <label for="email">Email address</label>
                <small class="form-text text-danger">{{emailError$ | async}}</small>
                <small class="form-text text-muted">We'll never share your email with anyone else.</small>
            </fieldset>
            <fieldset class="form-group col-12 mb-4">
                <input [value]="password$ | async" (input)="sendPassword($event)" type="password"
                    class="col-12 form-control" id="password" title="Password" maxlength="20" placeholder="Password">
                <label for="password">Password</label>
                <small class="form-text text-danger">{{passwordError$ | async}}</small>
            </fieldset>
            <div class="col-6">
                <button (click)="login()" class="btn btn-primary col-12">Login</button>
            </div>
        </form>
    </div>
</div>