.mainHeader {
    display: flex;
    align-items: center;
}

.mainHeaderLogo {
    width: 20%;
    display: flex;
    justify-content: center;
}

.mainHeaderLogoImage {
    width: 10em;
}

.mainHeaderLinks {
    display: flex;
    width: 80%;
    justify-content: space-between;
    height: fit-content;
    margin-right: 10px;
}

.mainHeaderLinksContainer {
    border-radius: 5px;
}