.table {
    margin-top: 30px;
    margin-bottom: 10px;
}

.table table {
    width: 100%;
    text-align: center;
    border-radius: 10px;
}

.table table {
    border-collapse: collapse;
}

.table table td, table th {
    border: 1px solid rgb(10, 70, 136);
}

.table table th {
  color: rgb(30, 121, 214);
}

.table table td {
  color: rgb(114, 147, 191);
}

.table table tr:first-child th {
    border-top: 0;
}

.table table tr:last-child td {
    border-bottom: 0;
}

.table table tr td:first-child, .table table tr th:first-child {
    border-left: 0;
}

.table table tr td:last-child, .table table tr th:last-child {
    border-right: 0;
}

.table .tableRingLoader > div {
    left: 50%;
}

.tableAction {
    display: flex;
    justify-content: space-evenly;
}

.tableAction > * {
    cursor: pointer;
}

.tablePages {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.tablePagesPrevNext {
    display: flex;
    cursor: pointer;
}

.tablePagesItemsEachPage {
    margin-top: 10px;
    outline: none;
}

.table select {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    color: white;
}